body{
background-color:grey;

}







.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
     /* grid-column-gap: 1em;
    grid-row-gap: 1em; */
    grid-gap : 1em;
    /* grid-auto-rows: 100px; */
    grid-auto-rows: minmax(100px,auto);
    margin: 100px;
    /* margin-top: 200px; */
    /* justify-items: stretch;
    align-items: center; */
    
  }
  
  .wrapper > div {
    background:rgb(5, 124, 124);
    padding:1em;
  
    /*cái này là để center word*/
    display: grid;
    justify-content: center;
    align-content: center;
  }
    
  
  
  .wrapper > div:nth-child(odd){
    background:rgb(0, 195, 255);
  }
  .box1{
      display: grid;
      text-decoration: none;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .box1:hover{
      background-color: red;
  }
  .box2{
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .box3{
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .box4{
    grid-column: 3/4;
    grid-row: 2/5;
  }
  .box5{
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .box6{
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .center{
  }
  /* 
  .nested{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
  } */
  /* .nested > div{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: auto;
    padding: 1em;
    grid-auto-rows: auto;
    height: 30px;
    background-color: darkolivegreen;
  } */
  

  